@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GERAIS */
:root{
    --primary-color: #182C61;
    --white-color: #ECF0F1;
    --space: 2rem;
}

.main-content{
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem var(--space);
}

/* font-family: 'Bungee', cursive;
font-family: 'Roboto', sans-serif; */

body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}

h1, h2, h3,
.menu-navegation li{
    font-family: 'Bungee', cursive;
}

h1{
    font-size: 2.5rem;
}

.menu-navegation li{
    font-size: 1.5rem;
    font-weight: normal;
}

/* CABEÇALHO */
.cabecalho{
    padding: 1rem 0;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.cabecalho .menu-navegation li{
    display: inline;
    margin-left: 1rem;
}

.menu-navegation li a{
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.5rem;
}

.container-flex,
.brands-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

/* SEÇÃO SOBRE */
.sobre{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sobre .container-flex{
    align-items: flex-start;
    margin: 1rem 0;
    gap: var(--space);
}

.intro-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

}

.intro-content h2{
    font-size: 1.8rem;
    font-weight: normal;
}

.intro-content p{
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.brands-list{
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
}

.brand{
    height: 1.5rem;
}